@model WebSenDa.Models.ViewModel
@{
    ViewBag.Title = "locNam";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Báo cáo thống kê doanh thu</h1>

@using (Html.BeginForm("LocNam", "BaoCao", FormMethod.Get, new { @Class = "form-inline mt-5" }))
{
    <div class="form-group mx-sm-3 mb-2 ">
        <label class="pr-5">Năm</label>
        <input type="number" min="2000" class="form-control" id="inputYear" name="inputYear" placeholder="@Model.Year">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Xác nhận</button>
    <a href="/BaoCao" class="btn btn-info mb-2 ml-2"><i class="fa fa-sync-alt"></i></a>
}
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tháng</th>
            <th scope="col">Tiền hàng</th>
            <th scope="col">Doanh thu</th>
            <th scope="col">Lợi nhuận</th>
            <th scope="col"><i class="fa fa-cogs"></i></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 1; i <= 12; i++)
        {
            decimal tienHang = 0;
            decimal doanhThu = 0;
            decimal loiNhuan = 0;
            <tr>
                <th scope="row">@i</th>
                @foreach (var item in Model.ListDonHang)
                {
                    if (item.NgayDat.Month == i && item.TrangThai != 4)
                    {
                        foreach (var chitiet in Model.ListChiTietDonHang)
                        {
                            if (chitiet.IDDonHang == item.IDDonHang)
                            {
                                doanhThu += chitiet.DonGia * chitiet.SoLuong;
                            }
                        }
                        doanhThu += 20;
                    }
                }
                @foreach (var item in Model.ListNhapKho)
                {
                    if (item.NgayNhap.Month == i)
                    {
                        tienHang += item.GiaNhap * item.SoLuongNhap;
                    }
                }
                @{ 
                    doanhThu *= 1000;
                    tienHang *= 1000;
                    loiNhuan = doanhThu - tienHang;
                 }
                <td>@tienHang.ToString("N0")</td>
                <td>@doanhThu.ToString("N0")</td>
                <td>@loiNhuan.ToString("N0")</td>
                <td>@Html.ActionLink("Chi tiết", "Details", new { month = i, year = Model.Year }, new { @Class="btn btn-info" })</td>
            </tr>
        }
    </tbody>
</table>
