@model WebSenDa.Models.TaiKhoanModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

@using (Html.BeginForm("Index", "DangKy", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.TenTaiKhoan)</div>
        @Html.TextBoxFor(model => model.TenTaiKhoan, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.TenTaiKhoan)
    </div>
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.SoDienThoai)</div>
        @Html.TextBoxFor(model => model.SoDienThoai, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.SoDienThoai)
    </div>
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.CMND)</div>
        @Html.TextBoxFor(model => model.CMND, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.CMND)
    </div>
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.Email)</div>
        @Html.TextBoxFor(model => model.Email, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.MatKhau)</div>
        @Html.TextBoxFor(model => model.MatKhau, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.MatKhau)
    </div>
    <div class="form-group row">
        <div class="col-4 col-form-label">@Html.LabelFor(model => model.ConfirmPass)</div>
        @Html.TextBoxFor(model => model.ConfirmPass, new { style = "field-validation-error", @Class = "form-control col-8" })
        @Html.ValidationMessageFor(model => model.ConfirmPass)
    </div>
    <div class="d-flex justify-content-around">
        @Html.ActionLink("< Trang Chủ", "Index", "SanPham", null, new { @class = "btn btn-outline-success" })
        <button type="submit" class="btn btn-success">Xác nhận</button>
    </div>
    <p class="pt-5">Bạn đã có tài khoản? @Html.ActionLink("Đăng nhập", "Index", "DangNhap", null, new { @class = "" })</p>
}
