@model WebSenDa.Models.ViewModel

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="text-center font-weight-bold">Danh Sách Khách Hàng</h2>

<div class="d-flex justify-content-around">

    @using (Html.BeginForm("Index", "KhachHang_QL", FormMethod.Get))
    {
        <div class="row mt-3">
            <input class="user-input-search ml-3" type="text" placeholder="Nhập từ khóa tìm kiếm..." name="search" />

            <button class="btn btn-search btn-info ml-3" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>

            <a href='@Url.Action("Index", "KhachHang")' class="btn btn-reload btn-secondary ml-3"><i class="fas fa-sync-alt"></i> Tải lại</a>
        </div>
    }
</div>

<table class="table table-bordered table-hover mt-3">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.khachHang.TenTaiKhoan)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.khachHang.TenKhachHang)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.khachHang.CMND)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.khachHang.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khachHang.LoaiTaiKhoan.TenLoaiTaiKhoan)
            </th>
            <th scope="col" class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListKhachHang)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTaiKhoan)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>

                <td class="text-center">
                    <img src="@Url.Content(item.AnhDaiDien)" style="width: 50px; height:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoaiTaiKhoan)
                </td>
                <td class="text-center">
                    <a class="btn btn-info " href="@Url.Action("Detail",new { id=item.IDKhachHang})"><span style="margin-left:0px" class="far fa-clipboard"></span></a>

                </td>
            </tr>
        }
    </tbody>
</table>

